{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
    <h3>Sign-up</h3>
    <div>
        <label for="email">Email</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="" />
    </div>
    <div>
        <label for="firstName">Nickname</label>
        <input type="text"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="" />
    </div>
    <div>
        <label for="password1">Password</label>
        <input type="password" 
               class="form-control"
               id="password1"
               name="password1"
               placeholder="" />
    </div>
    <div>
        <label for="password2">Password again</label>
        <input type="password"
               class="form-control"
               id="password2"
               name="password2"
               placeholder="" />
    </div>
    <br />
    <button type="submit">Send</button>
</form>
{% endblock %} 